<?xml version="1.0" encoding="UTF-8"?>
<web-app>

  <welcome-file-list>
    <welcome-file>Mix.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>service</servlet-name>
    <servlet-class>com.you2mix.mix.server.ServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>service</servlet-name>
    <url-pattern>/Mix/service</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>all except google webtools verificacion</web-resource-name>
      <url-pattern>/Mix.html</url-pattern>
      <url-pattern>/Mix.css</url-pattern>
      <url-pattern>/Mix/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
</web-app>
